* {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
  }

body {
    overflow: hidden;
}

.kitchenWallpaper {
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 15%;
    background-image: url('../pictures/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.kitchenContainer {
    position: relative;
    min-height: 100vh;   
}

.container {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: calc((222/834) * 100%);
    left: calc((475/1528) * 100%);
    width: calc((186/1528) * 100%);
    height: calc((225/834) * 100%);
}

.icon {
    position: absolute;
    z-index: 3;
    cursor: grab;
}

#iconContainer {
    position: absolute;
    bottom: 30%;
    width: 40%;
    height: auto;
    
}

#searchInput {
    position: absolute;
    width: 90%;
    height: 10%;
    bottom: 3%;
}

.fridge2-container {
    position: absolute;
    top: calc((115/834) * 100%);
    right: calc((200/1528) * 100%);
    width: calc((290/1528) * 100%);
    height: calc((268/834) * 100%);
    
}

#fridge2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left center;
    transition: transform 1s ease-in-out;
    z-index: 2;
}

.fridge3-container {
    position: absolute;
    bottom: calc((7/834) * 100%);
    right: calc((200/1528) * 100%);
    width: calc((290/1528) * 100%);
    height: calc((444/834) * 100%);

}

#fridge3 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left center;
    transition: transform 1s ease-in-out;
    z-index: 2;
}

.pisto-container {
    position: absolute;
    bottom: calc((222/834) * 100%);
    left: calc((475/1528) * 100%);
    width: calc((186/1528) * 100%);
    height: calc((225/834) * 100%);

}

.cabinet-container {
    position: absolute;
    bottom: 0;
    left: calc((250/1528) * 100%);
    width: calc((600/1528) * 100%);
    height: calc((222/834) * 100%);

}

.fridge-container {
    position: absolute;
    bottom: 0px;
    right: calc((200/1528) * 100%);
    width: calc((290/1528) * 100%);
    height: calc((721/834) * 100%);

}

#button, #piston, #pisto, #cabinet, #fridge1, #fridge6, #fridge7 {
    position: absolute;
}

#fridge6, #fridge7 {
    width: calc((92/290) * 100%);
    height: calc((45/721) * 100%);
    left: 35%;
}

#button {
    width: calc((32/186) * 100%);
    height: calc((32/225) * 100%);
    top: calc((14/225) * 100%);;
    left: calc((130/186) * 100%);
}

#piston {
    width: calc((96/186) * 100%);
    height: calc((98/225) * 100%);
    left: 24.5%;
    top: 26.8%;
}

#pisto {
    width: 100%;
    height: 100%;
}

#cabinet {
    width: 100%;
    height: 100%;
}

#fridge1 {
    width: 100%;
    height: 100%;
}

#fridge6 {
    top: 3%;
}

#fridge7 {
    top: 40%;
}

.shape {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    cursor: grab;
}

.gitHubLogo-Container {
    position: absolute;
    width: 10%;
    height: 10%;
    right: 1%;
    bottom: 3%;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}
